<!doctype html>
<html lang="en" ng-app="application" class="font1">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vodafone</title>
    <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/foundation.js"></script>
    <script src="/assets/js/routes.js"></script>
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <div class="voda-logo"></div>
    <div class="grid-frame vertical">
      <div class="grid-content shrink overflow-visible">
        <!-- Header Content -->
        <header class="content-header">
          <div class="row" ng-controller="PortalCtrl">
            <div class="header-nav">
              <div class="portal-changer">
                <a href="#" class="button primary active slide-left" ng-class="activePortal" ng-click="portalToggle = !portalToggle" ng-show="!portalToggle" ng-animate>{{activePortal}}</a>
                <div class="portal-options slide-right" ng-show="portalToggle" ng-animate>
                  <a href="#" class="button primary agent" ng-click="changePortal('agent')">Agent</a>
                  <a href="#" class="button primary credit active" ng-click="changePortal('credit')">Credit</a>
                  <a href="#" class="button primary athome" ng-click="changePortal('athome')">At Home</a>
                  <a href="#" class="button primary debit" ng-click="changePortal('debit')">Debit</a>
                  <a href="#" class="button primary dsl" ng-click="changePortal('dsl')">DSL</a>
                </div>
              </div>
              <div zf-action-sheet="" class="access-sizer">
                <div zf-as-button="" title="Aa" class="tertiary-buttons"></div>
                <div zf-as-content="" position="bottom">
                  <div class="change-font">
                    <a class="font0" ng-click="changeFont(0)" ng-class="checkFont(0)"><span>Aa</span></a>
                    <a class="font1 active" ng-click="changeFont(1)" ng-class="checkFont(1)"><span>Aa</span></a>
                    <a class="font2" ng-click="changeFont(2)" ng-class="checkFont(2)"><span>Aa</span></a>
                  </div>
                  <div class="change-contrast">
                    <input type="range" min="0" max="2" value="0" id="contrast-changer" ng-model="demo.bodyContrast">
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- // Header Content -->
      </div>
      <div class="grid-content">
        <div class="grid-container">
          <div ng-class="['ui-animation']" ui-view></div>
        </div>
      </div>
    </div>
  </body>
</html>



