---
name: home
url: /
animationIn: fadeIn
animationOut: fadeOut
---

<div class="align-center grid-block title-block">
  
  <div class="grid-content small-3 medium-3 large-2">
    
  </div>
  
  <div class="grid-content small-9 medium-9 large-8">
    <div class="searcher">
      <div class="search-text" ng-class="searchInputToggle"><input type="text" placeholder="Suche" ng-focus="searchInputToggle='selected'" ng-blur="searchInputToggle=''"/></div> 
      <div class="search-select">in Allen Portalen <span class="triangle-down"></span>
        <ul class="submenu">
          <li> <a href="#">InfoWeb</a> </li>
          <li> <a href="#">Hardware</a> </li>
          <li> <a href="#">CallYa</a> </li>
          <li> <a href="#">Wilma</a> </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="grid-content small-12 medium-12 large-2">
    
  </div>
  
</div>

<div class="grid-block">
  <div class="grid-content small-3 medium-3 large-2">
    <ul class="side-nav primary" role="navigation" title="Portal Link List">
      <li role="menuitem" class="active"><a href="#">Home</a></li>
      <li role="menuitem"><a href="#">AskVodafone</a></li>
      <li role="menuitem"><a href="#">InfoWeb</a></li>
      <li role="menuitem"><a href="#">Hardware</a></li>
      <li role="menuitem"><a href="#">CallYa</a></li>
      <li role="menuitem"><a href="#">Wilma</a></li>
      <li role="menuitem"><a href="#">Kabel.de</a></li>
      <li role="menuitem"><a href="#">Vodafone.de</a></li>
    </ul>
  </div>

  <div class="grid-content small-9 medium-9 large-8">

    <zf-accordion auto-open="true" collapsible="true" multi-open="true">

      <zf-accordion-item title="Quicklinks" active="true">
        <div class="quicklinks-cols">
          
          <div class="col">
            <h6>Services</h6>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Karte &amp; Netz</p>
              </div>
              <div class="card-category">Check Netz status</div>
            </div>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Mailbox &amp; Erreichbarkeit</p>
              </div>
              <div class="card-category">Short description</div>
            </div>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Selfservice</p>
              </div>
              <div class="card-category">Summary</div>
            </div>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Internet &amp; Messaging</p>
              </div>
              <div class="card-category">Info &amp; pricing</div>
            </div>
          </div>
          
          <div class="col">
            <h6>Tarrifs</h6>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Privat</p>
              </div>
              <div class="card-category">For Individuals</div>
            </div>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Red GB</p>
              </div>
              <div class="card-category">Allnet Flat</div>
            </div>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Smart</p>
              </div>
              <div class="card-category">For Budget Users</div>
            </div>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Business</p>
              </div>
              <div class="card-category">Tarrifs</div>
            </div>
          </div>
          
          <div class="col">
            <h6>Tools</h6>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Infodocs</p>
              </div>
              <div class="card-category">Help &amp; Support</div>
            </div>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Gesprachleitfaden</p>
              </div>
              <div class="card-category">Guides</div>
            </div>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Kias</p>
              </div>
              <div class="card-category">Description</div>
            </div>
            <div class="card">
              <div class="card-section">
                <p class="card-title">Cheat Sheets</p>
              </div>
              <div class="card-category">Quick Hints</div>
            </div>
          </div>
          
        </div>
        
      </zf-accordion-item>

      <zf-accordion-item title="GeoWorld" active="true">
        <p><img src="/assets/images/map-demo.png" title="Demo Map"/></p>
      
      </zf-accordion-item>

    </zf-accordion>

  </div>

  <div class="grid-content small-12 medium-12 large-2">
    <div class="phone-widget">
      <div class="phone-widget-dormant slide-right" ng-show="!phoneWidgetClicked">
        <a href="#" class="primary button active expand" ng-click="phoneWidgetClicked = !phoneWidgetClicked">Add Phone Number</a>
      </div>
      <div class="phone-widget-form celltbl slide-top" ng-show="phoneWidgetClicked && !phoneWidgetInput">
        <div class="cell">
          <input type="text" class="phone-widget-input" placeholder="Phone Number"/>
        </div>
        <a href="#" class="cell primary button active icobtn" ng-click="phoneWidgetInput = true"></a>
      </div>
      <div class="phone-widget-active slide-top" ng-show="phoneWidgetInput">
        <div class="pw-header">
          <p>John Doe</p>
          <p class="number">+49 162 9177158</p>
          <a href="#" class="primary button active icobtn" ng-click="phoneWidgetInput = false"></a>
        </div>
        <div class="pw-body">
          <ul class="side-nav secondary special">
            <li role="menuitem"><a href="#">Upgrading your contract</a></li>
            <li role="menuitem"><a href="#">Tarrifs</a></li>
            <li role="menuitem"><a href="#">Vodafone Smart L</a></li>
            <li role="menuitem"><a href="#">Walkthroughs</a></li>
          </ul>
        </div>
      </div>
    </div>
    <h6>Vorschlage</h6>
    <ul class="side-nav secondary">
      <li role="menuitem"><a href="#">Karte &amp; Netz</a></li>
      <li role="menuitem"><a href="#">Mailbox &amp; Erreichbarkeit</a></li>
      <li role="menuitem"><a href="#">Selfservice</a></li>
      <li role="menuitem"><a href="#">Unterwegs</a></li>
      <li role="menuitem"><a href="#">Internet &amp; Messaging</a></li>
    </ul>
  </div>
</div>

<div class="news-panel" ng-class="{'collapsed': newsPanelToggle}">
  <div class="grid-container">
    <div class="grid-block">
      <div class="grid-content small-12">
        <div class="news-panel-header">
          <div class="news-panel-header-links float-left">
            <a>ALL NEWS</a>
            <a>HOT</a>
            <a>NETZWERK</a>
            <a>VERWANDT</a>
          </div>
          <div class="news-panel-header-icons float-right">
            <a class="icons icon4 inactive"></a>
            <a class="icons icon3 inactive"></a>
            <a class="icons icon5" ng-click="newsPanelToggle = !newsPanelToggle"></a>
            <a class="icons icon2" zf-open="newsModal1"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-block news-panel-items">
      <div class="grid-content small-6 medium-3">
        <a zf-open="newsModal1">
          <h5 class="portal1">Anna Dimitrova verantwortet Strategie und Unternehmensentwicklung</h5>
          <p class="news-meta">Unternehmen  ·  8. November 2014</p>  
        </a>
      </div>
      <div class="grid-content small-6 medium-3">
        <a zf-open="newsModal2">
          <h5 class="portal2">Anna Dimitrova verantwortet Strategie und Unternehmensentwicklung</h5>
          <p class="news-meta">Promotion  ·  8. November 2014</p>  
        </a>
      </div>
      <div class="grid-content small-6 medium-3 show-for-medium">
        <a zf-open="newsModal3">
          <h5 class="portal3">Anna Dimitrova verantwortet Strategie und Unternehmensentwicklung</h5>
          <p class="news-meta"><span class="aktionen">Aktionen</span>  ·  8. November 2014</p>  
        </a>
      </div>
      <div class="grid-content small-6 medium-3 show-for-medium">
        <a zf-open="newsModal4">
          <h5 class="portal4">Anna Dimitrova verantwortet Strategie und Unternehmensentwicklung</h5>
          <p class="news-meta">Störungen  ·  8. November 2014</p>  
        </a>
      </div>
    </div>
  </div>
</div>


<zf-modal id="newsModal1" overlay="true">
  <a class="close-button" zf-close="">×</a>
  <section class="grid-content news-content">
    <h5 class="portal1">Anna Dimitrova verantwortet Strategie und Unternehmensentwicklung</h5>
    <p class="news-meta">Unternehmen  ·  8. November 2014</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    <div class="news-footer">
      <a class="float-left"><span class="icons icon0"></span> Previous</a>
      <a class="float-right">Next <span class="icons icon1"></span></a>
    </div>
  </section>
</zf-modal>

<zf-modal id="newsModal2" overlay="true">
  <a class="close-button" zf-close="">×</a>
  <section class="grid-content news-content">
    <h5 class="portal2">Anna Dimitrova verantwortet Strategie und Unternehmensentwicklung</h5>
    <p class="news-meta">Promotion  ·  8. November 2014</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    <div class="news-footer">
      <a class="float-left"><span class="icons icon0"></span> Previous</a>
      <a class="float-right">Next <span class="icons icon1"></span></a>
    </div>
  </section>
</zf-modal>

<zf-modal id="newsModal3" overlay="true">
  <a class="close-button" zf-close="">×</a>
  <section class="grid-content news-content">
    <h5 class="aktionen">Anna Dimitrova verantwortet Strategie und Unternehmensentwicklung</h5>
    <p class="news-meta"><span class="">Aktionen</span>  ·  8. November 2014</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    <div class="news-footer">
      <a class="float-left"><span class="icons icon0"></span> Previous</a>
      <a class="float-right">Next <span class="icons icon1"></span></a>
    </div>
  </section>
</zf-modal>

<zf-modal id="newsModal4" overlay="true">
  <a class="close-button" zf-close="">×</a>
  <section class="grid-content news-content">
    <h5 class="portal4">Anna Dimitrova verantwortet Strategie und Unternehmensentwicklung</h5>
    <p class="news-meta">Störungen  ·  8. November 2014</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    <div class="news-footer">
      <a class="float-left"><span class="icons icon0"></span> Previous</a>
      <a class="float-right">Next <span class="icons icon1"></span></a>
    </div>
  </section>
</zf-modal>