---
name: home
url: /
animationIn: fadeIn
animationOut: fadeOut
---

<div class="align-center grid-block">
  <div class="grid-content">
    
      <div class="searcher">
        <div class="search-text" ng-class="searchInputToggle"><input type="text" placeholder="Suche" ng-focus="searchInputToggle='selected'" ng-blur="searchInputToggle=''"/></div> 
        <div class="search-select">in Allen Portalen <span class="triangle-down"></span>
          <ul class="submenu">
            <li> <a href="#">InfoWeb</a> </li>
            <li> <a href="#">Hardware</a> </li>
            <li> <a href="#">CallYa</a> </li>
            <li> <a href="#">Wilma</a> </li>
          </ul>
        </div>
      </div>
    
  </div>
</div>

<div class="grid-block">
  <div class="grid-block small-3">
    
  </div>

  <div class="grid-block">
    
  </div>

  <div class="grid-block small-3">
    
  </div>
</div>
