/* [sass, assets/scss, custom.scss] */
@import url('../fonts/stylesheet.css');
/* line 8, /Users/tey/v-portal-proto/assets/scss/custom.scss */
body {
  background: #FFFFFF url('../../images/vodafone-logo.png') left top no-repeat;
  font-family: 'freightsans_promedium', Helvetica, Arial, 'sans-serif'; }

/* line 13, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.content-header {
  margin-top: 1rem; }

/* line 20, /Users/tey/v-portal-proto/assets/scss/custom.scss */
h1, h2, h3 {
  font-family: 'freightsans_probook'; }

/* line 24, /Users/tey/v-portal-proto/assets/scss/custom.scss */
h4, h5 {
  font-family: 'vodafone_rgregular';
  color: #E91E1E;
  display: inline-block;
  border-bottom: 1px solid #E91E1E;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem; }

/* line 33, /Users/tey/v-portal-proto/assets/scss/custom.scss */
h6 {
  font-family: 'freightsans_probold';
  font-size: 0.75rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #474547; }

/* line 43, /Users/tey/v-portal-proto/assets/scss/custom.scss */
strong {
  font-family: 'freightsans_promedium'; }

/* line 47, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.content-heading {
  background: none;
  border: none;
  text-align: center;
  margin-bottom: 5rem; }

/* line 57, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.button {
  font-family: 'freightsans_promedium', Helvetica, Arial, 'sans-serif';
  font-size: 0.8125rem;
  text-transform: uppercase; }
  /* line 62, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .button.primary, .button.tertiary {
    font-family: 'freightsans_prosemibold';
    background: #9B319E;
    border-radius: 26px;
    padding: 0.5rem 1.5rem 0.6rem; }
  /* line 69, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .button.tertiary {
    text-transform: none;
    background: #FFFFFF;
    color: #9B319E;
    border: 1px solid #B8B6B8;
    padding-left: 0.875rem;
    padding-right: 0.875rem; }

/* line 79, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.sizer-button {
  margin-right: 0.75rem; }

/* line 83, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.button.block {
  display: block; }

/* line 87, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.block-link {
  border: 1px solid #D8D7D8;
  display: block;
  padding: 0.75rem 1rem;
  color: #474547; }
  /* line 93, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .block-link:hover {
    -webkit-animation: bounce 1s ease-in;
    animation: bounce 1s ease-in; }

/* line 102, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.side-nav.primary {
  font-family: 'freightsans_prosemibold';
  padding-top: 0; }
  /* line 106, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .side-nav.primary li {
    border-left: 6px solid #FFFFFF; }
    /* line 109, /Users/tey/v-portal-proto/assets/scss/custom.scss */
    .side-nav.primary li a:not(.button) {
      color: #9B319E; }
  /* line 114, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .side-nav.primary li.active {
    border-left: 6px solid #9B319E; }
    /* line 117, /Users/tey/v-portal-proto/assets/scss/custom.scss */
    .side-nav.primary li.active > a:first-child:not(.button) {
      font-family: 'freightsans_prosemibold';
      color: #9B319E; }

/* line 126, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.side-nav.primary.ver2 li {
  border-left: none;
  display: block; }
  /* line 130, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .side-nav.primary.ver2 li a {
    float: right;
    clear: both;
    border: 1px solid #9B319E;
    margin-bottom: 0.5rem;
    margin-right: 1rem; }
  /* line 138, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .side-nav.primary.ver2 li a:hover, .side-nav.primary.ver2 li a.active:hover {
    background: #9B319E;
    color: #FFFFFF !important; }

/* line 145, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.side-nav.secondary {
  font-family: 'freightsans_probook';
  padding: 0; }
  /* line 149, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .side-nav.secondary li {
    margin-bottom: 1rem; }
    /* line 152, /Users/tey/v-portal-proto/assets/scss/custom.scss */
    .side-nav.secondary li a {
      background: none;
      color: #474547;
      padding: 0;
      line-height: 1rem; }
    /* line 159, /Users/tey/v-portal-proto/assets/scss/custom.scss */
    .side-nav.secondary li a:hover {
      background: none;
      color: #9B319E; }

/* line 169, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.searcher {
  font-family: 'freightsans_prolight';
  font-size: 2rem;
  text-align: center; }
  /* line 174, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .searcher > div {
    display: inline-block; }
  /* line 178, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .searcher .search-text {
    color: #B8B6B8;
    transition: all .3s ease-in-out;
    width: 76px; }
    /* line 183, /Users/tey/v-portal-proto/assets/scss/custom.scss */
    .searcher .search-text.selected {
      min-width: 300px; }
    /* line 187, /Users/tey/v-portal-proto/assets/scss/custom.scss */
    .searcher .search-text input {
      outline: none;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 2rem;
      display: block;
      box-shadow: none;
      transition: none;
      width: 100%; }
      /* line 198, /Users/tey/v-portal-proto/assets/scss/custom.scss */
      .searcher .search-text input:focus {
        background: none; }
  /* line 204, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .searcher .search-select {
    font-family: 'freightsans_promedium';
    color: #9B319E;
    position: relative; }
    /* line 209, /Users/tey/v-portal-proto/assets/scss/custom.scss */
    .searcher .search-select ul {
      display: none;
      position: absolute;
      top: 60px;
      left: 0; }
    /* line 216, /Users/tey/v-portal-proto/assets/scss/custom.scss */
    .searcher .search-select:hover ul {
      display: block; }

/* line 222, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.submenu {
  width: 240px;
  padding: 0px 0px 10px 0;
  margin: 0px;
  background: #fff;
  border: 1px solid #9B319E;
  z-index: 3;
  /*  Dropdown shadow */
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  /* Animation */
  -moz-animation: fadeInDown .3s ease-in;
  -webkit-animation: fadeIn .3s ease-in;
  animation: fadeInDown .3s ease-in; }
  /* line 237, /Users/tey/v-portal-proto/assets/scss/custom.scss */
  .submenu li {
    text-align: left;
    padding: 0.5rem 0 0 2rem;
    margin: 0px;
    display: block;
    float: none;
    line-height: 3.5rem;
    font-size: 1.25rem; }
    /* line 246, /Users/tey/v-portal-proto/assets/scss/custom.scss */
    .submenu li a {
      background: #fff;
      color: #9B319E; }

/* line 252, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.submenu:after, .submenu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

/* line 263, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.submenu:after {
  border-color: rgba(213, 213, 213, 0);
  border-bottom-color: #fff;
  border-width: 5px;
  margin-left: -5px; }

/* line 269, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.submenu:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #9B319E;
  border-width: 6px;
  margin-left: -6px; }

/* line 278, /Users/tey/v-portal-proto/assets/scss/custom.scss */
.triangle-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #9B319E;
  display: inline-block;
  padding-top: 3px; }

/*# sourceMappingURL=../css/custom.css.map */