@import url('../fonts/stylesheet.css');

@import 'variables';
@import 'animation';
@import 'custom-forms';


// Overrides 

html, body, .grid-frame {
  height: auto;
}

#body-frame {
  margin-bottom: 8rem;
}

.grid-container {
  max-width: 1080px;
}

// Helper Classes

.overflow-visible {
  overflow: visible;
}

.aktionen {
  color: #428600 !important;
}

.portal2 {
  color: $c-voda-purple;
}

.portal3 {
  color: $c-dark-grey;
}

.portal4 {
  color: $c-voda-orange;
}


// Layout

body {
  background: $body-bg-color url('../images/bg-dark.png') left -210px repeat-x;
  font-family: $font-body;
}

.content-header {
 margin-top: 1rem; 
}

.header-container {
  position: relative;
}

.voda-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 101px;
  height: 140px;
  background: transparent url('../images/vodafone-logo.png') left top no-repeat;
}


// Typography

h1, h2, h3 {
  @include font-body('book');
}

h4, h5 {
  @include font-heading('medium');
  color: $c-voda-red;
  display: inline-block;
  border-bottom: 1px solid $c-voda-red;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

h6 {
  @include font-body('bold');
  font-size: 0.75rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid $c-dark-grey;
}

strong {
  @include font-body('medium');
}

.content-heading {
  background: none;
  border: none;
  text-align: center;
  margin-bottom: 5rem;
}


// Buttons 

.button {
  font-family: $font-body;
  font-size: 0.8125rem;
  text-transform: uppercase;
  
  &.primary, &.secondary, &.tertiary {
    @include font-body('semibold');
    background-color: $c-white;
    color: $btn-primary-bg;
    border: 1px solid $btn-primary-bg;
    border-radius: $btn-primary-radius;
    padding: 0.5rem 1.5rem 0.6rem;
  }
  
  &.primary {
    
    &.active {
      background-color: $btn-primary-bg;
      color: $c-white;
    }
    
    &.expand {
      padding: 0.5rem 0 0.6rem;
    }
  }
  
  &.tertiary {
    text-transform: none;
    background-color: $c-white;
    color: $c-voda-purple;
    border: 1px solid $c-medium-grey;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }
  
  &.icobtn {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

.tertiary-buttons > .button {
  @extend .button.tertiary;
}

.access-sizer {
  float: right;
  margin-right: 7.5rem;
  
  .button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .change-font {
    display: flex;
    height: 55px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #DDD;
    
    a {
      flex-grow: 1;
      height: 50px;
      text-align: center;
      position: relative;
      color: $c-light-grey;
      cursor: grabbing;
      
      &:hover {
        color: $c-medium-grey;
      }
      
      &.active {
        color: $c-dark-grey;
        font-weight: 800;
      }
      
      span {
        width: 100%;
        left: 0;
        bottom: 13px;
        position: absolute;
        line-height: 1em;
        text-align: center;
      }
    }
    
    .font0 {
      font-size: 12px;
    }
    .font1 {
      font-size: 16px;
    }
    .font2 {
      font-size: 22px;
    }
  }
  
  .change-contrast {
    padding: 0 16px 12px;
    
    > div {
      height: 20px;
      display: inline-block;
      background: transparent url('../images/icon-contrast.png') left top no-repeat;
    }
    
    .ico-contrast-down {
      width: 12px;
    }
    
    .ico-contrast-up {
      background-position: left -30px;
      width: 17px;
    }
    
    .contrast-control {
      height: auto;
      background: none;
      width: 99px;
      margin: 3px 5px 0 5px;
      vertical-align: top;
    }
    
    input {
      height: 0.4rem;
    }
  }
  
  .action-sheet {
    width: 180px;
    padding: 0;
    box-shadow: none;
    border: 1px solid $c-light-grey;
    
    &::before {
      top: -11px;
    }
  }
}


// Portal Selector

.portal-changer {
  position: relative;
  z-index: 2;
  background: $c-white;
  
  > .button, .portal-options {
    position: absolute;
    right: 0;
  }
  
  .portal-options .button {
    margin-right: 0.5rem;
  }
}

.portal-options {
  @extend .transition-all;
}


// Portal Custom Colors

@each $portal, $color in $portals {
  
  body.#{$portal} {
    .searcher .search-select,
    .side-nav.primary li a,
    .side-nav.primary li.active a,
    .side-nav.primary li.active > a:first-child:not(.button),
    .button.tertiary, .tertiary-buttons > .button,
    .phone-widget-active .pw-header p,
    .side-nav.special li a
    {
      color: $color;
    }
    .side-nav.primary li.active {
      border-left: 6px solid $color;
    }
    .side-nav.primary.ver2 li a,
    .quicklinks-cols .card:hover,
    .phone-widget-form,
    .button.primary
    {
      border-color: $color;
    }
    .side-nav.primary.ver2 li a:hover,
    .quicklinks-cols .card:hover,
    .quicklinks-cols .card .card-category,
    .button.primary.active
    {
      background-color: $color;
    }
    .triangle-down {
      border-top-color: $color;
    }
  }
  
  .button.#{$portal} {
    border-color: $color;
    color: $color;
    
    &.active {
      background-color: $color;
    }
  }
}


// Accordions

.accordion {
  margin: 0 1rem;
  
  .accordion-title {
    margin-bottom: .5rem;
    border-bottom: 1px solid $c-lightest-grey;
    font-size: 1.5rem;
    line-height: 0.5;
    background: transparent url('../images/icon-collapse.png') right 5px no-repeat;
    
    >span {
      display: inline-block;
      border-bottom: 1px solid $c-voda-red;
      margin-bottom: -1px;
      padding-bottom: 1.2rem;
    }
  }
  
  .accordion-item {
    margin-bottom: 1.5rem;
  }
  
  .accordion-item.active .accordion-title {
    background-position: right -45px;
  }
  
  .accordion-content {
    @extend .transition-all;
  }
}


// Accessibility Adjustments

html {
  transition: font 0.3s ease, color 1s;
  
  .title-block {
    @extend .transition-all;
  }
}

body {
  transition: background 1s ease;
}

html.size0 {
  font-size: 90%;
}

html.size2 {
  font-size: 109%;
}

html.contrast0 {
  
  body {
    background-color: $contrast0-bg;
  }
  h6 {
    color: #433;
  }
}

html.contrast2 {
  body {
    background-color: $contrast2-bg;
    color: #020202;
  }
  h6 {
    color: #020202;
  }
  .card {
    color: #222;
    border-color: #E3E3E3;
  }
  .accordion-title, .searcher {
    border-bottom-color: #E4E4E4;
  }
}


// Navigation

.side-nav {
  
  li {
    display: block;
    list-style: none;
    
    a:not(.button) {
      display: block;
      padding: .7rem 0;
    }
  }
  
}

.side-nav.primary {
  @include font-body('semibold');
  padding-top: 0;
  
  li {
    border-left: 6px solid transparent;
   
    a:not(.button) {
      color: $c-voda-purple;
      padding: .7rem 1rem;
      
      &:hover {
        color: $c-dark-grey;
      }
    }
  }
  
  li.active {
     border-left: 6px solid $c-voda-purple;
    
     > a:first-child:not(.button) {
       @include font-body('semibold');
       color: $c-voda-purple;
     }
  }
}

.side-nav.primary.ver2 {
  
  li {
    border-left: none;
    
    a {
      float: right;
      clear: both;
      border: 1px solid $c-voda-purple;
      margin-bottom: 0.5rem;
      margin-right: 1rem;
      padding: .35rem .9rem
    }
    
    a:hover, a.active:hover {
      background: $c-voda-purple;
      color: $c-white !important;
    }
  }
}

.side-nav.secondary {
  @include font-body('book');
  margin: 0;
  padding: 0;
  
  li {
    margin-bottom: 1.5rem; 
    
    a {
      font-size: .9rem;
      background: none;
      color: $c-dark-grey;
      padding: 0;
      line-height: 1rem;
    }
    
    a:hover {
      background: none;
      color: $c-voda-purple;
    }
  }
}

.side-nav.special {
  li a {
    color: $c-voda-purple;
  }
}


// Searcher

.searcher {
  @extend .transition-all;
  @include font-body('light');
  font-size: 2rem;
  text-align: center;
  margin: 0 1rem 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $c-lightest-grey;
  
  > div {
    display: inline-block;
  }
  
  .search-text {
    color: $c-medium-grey;
    transition: all .3s ease-in-out;
    width: 5rem;
    
    &.selected {
      min-width: 300px;
    }
    
    input {
      background: none;
      outline: none;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 2rem;
      display: block;
      box-shadow: none;
      transition: none;
      width: 100%;
      line-height: normal;
      
      &:focus {
        background: none;
      }
    }
  }
  
  .search-select {
    @include font-body('medium');
    color: $c-voda-purple;
    position: relative;
    
    ul {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
    }
    
    &:hover ul {
      display: block;
    }
  }
}

.submenu {
  width: 240px;
  padding: 0px 0px 10px 0;
  margin: 0px;
  background: #fff;
  border: 1px solid $c-voda-purple;
  z-index: 3;
  /*  Dropdown shadow */
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
  /* Animation */
  -moz-animation: fadeInDown .3s ease-in ;
  -webkit-animation: fadeIn .3s ease-in ;
  animation:fadeInDown .3s ease-in ;
  
  li{
    text-align: left;
    padding: 0.5rem 0 0 2rem;;
    margin: 0px;
    display: block;
    float: none;
    line-height: 3.5rem;
    font-size: 1.25rem;
    
    a {
      background: #fff;
      color: $c-voda-purple;
    }
  }
}
.submenu:after, .submenu:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.submenu:after {
	border-color: rgba(213, 213, 213, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}
.submenu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: $c-voda-purple;
	border-width: 6px;
	margin-left: -6px;
}


// Quicklinks

.quicklinks-cols {
  display: flex;
  justify-content: space-between;
  
  .col {
    flex: 1;
    padding: 0 .3rem;
    
    &:first-child {
      padding-left: 0;
      padding-right: .6rem;
    }
    
    &:last-child {
      padding-left: .6rem;
      padding-right: 0;
    }
    
    h6 {
      @extend .transition-all;
      padding-bottom: 0;
      margin-bottom: 1.2rem;
      border-bottom: none;
    }
  }
  
  .card {
    @extend .transition-all;
    @include font-body('book');
    background: transparent;
    color: $c-dark-grey;
    border: 4px solid $c-lightest-grey;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.45);
    margin-bottom: .9rem;
    position: relative;
    
    .card-section {
      @extend .transition-all;
    }
    
    .card-title {
      margin: 0;
    }
    
    .card-category {
      @extend .transition-all;
      @include font-body('semibold');
      position: absolute;
      width: 100%;
      bottom: -1.65rem;
      height: 1.6rem;
      margin: 0;
      padding: .1rem 1rem .9rem;
      background: $c-voda-purple;
      color: $c-white;
      font-size: .8rem;
      text-transform: uppercase;
    }
    
    &:hover {
      border-color: $c-voda-purple;
      background: $c-voda-purple;
      color: $c-white;
      
      .card-section {
        color: $c-white;
        padding-top: .25rem;
        padding-bottom: 1.75rem;
      }
      
      .card-category {
        bottom: 0;
      }
    }
  }
}


// Phone Widget

.phone-widget {
  margin: 0 0 2rem 0;
  position: relative;
  min-height: 2rem;
}
.phone-widget-dormant {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  
  .button {
    margin: 0;
  }
}
.phone-widget-form {
  border: 1px solid $c-voda-purple;
  border-radius: $btn-primary-radius;
  padding: .2rem .3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  
  .phone-widget-input {
    font-family: $font-body;
    font-size: 0.8125rem;
    text-transform: uppercase;
    margin: .3rem .5rem 0 .6rem;
    padding: 0;
    border: 0;
    line-height: 1rem;
  }
  .button {
    float: right;
    background-image: url('../images/icon-tick.png');
    background-repeat: no-repeat;
    background-position: .35rem .4rem;
  }
}
.phone-widget-active {
  clear: both;
  
  .pw-header {
    padding-bottom: 1rem; 
    margin-bottom: 1rem;
    border-bottom: 1px solid $c-lightest-grey;
    position: relative;
    
    .button {
      position: absolute;
      top: .25rem;
      right: .35rem;
      background-image: url('../images/icon-close.png');
      background-repeat: no-repeat;
      background-position: .4rem .4rem;
    }
  }
  .pw-header p {
    @include font-body('bold');
    text-transform: uppercase;
    font-size: 0.8125rem;
    color: $c-voda-purple;
    margin: 0;
    line-height: 0;
    padding-top: 1rem;
  }
  .pw-header .number {
    color: $c-dark-grey;
  }
}

//.phone-widget-dormant, .phone-widget-form, .phone-widget-active {
//  &.ng-hide-add {
//    -webkit-animation: fadeOutLeftBig 0.4s;
//    display: block!important;
//  }
//  &.ng-hide-remove {
//    -webkit-animation: fadeInLeftBig 0.4s;
//  }
//}


// News Panel & Modal

.news-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 .5rem;
  height: 8rem;
  background: $c-white;
  box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.16);
}

.news-panel-header {
  @include font-body('semibold');
  height: 2.3rem;
  padding-top:.8rem;
  font-size: .7rem;
  border-bottom: 1px solid $c-lightest-grey;
  
  .news-panel-header-links {
    a {
      display: inline-block;
      color: $c-dark-grey;

      &:not(:last-child) {
        &::after {
          content: '·';
          padding: 0 .4rem 0 .5rem;
        }
      }
    }
  }
  
  .news-panel-header-icons {
    a {
      margin-left: 1.25rem;
    }
  }
}

.news-panel-items {
  
  a {
    cursor: pointer;
    color: $c-medium-grey;
  }
  h5 {
    font-size: .9rem;
    margin: .7rem 0 0;
    border: none;
  }
  .news-meta {
    font-size: .85rem;
  }
}

.news-content {
  padding: 3em;
  
  h5 {
    border-bottom: none;
    font-size: 1.2rem;
  }
  
  p {
    @include font-body('light');
    color: $c-dark-grey;
  }
  
  .news-meta {
    color: lighten($c-dark-grey, 20%);
    font-size: .95rem;
  }
  
  .news-footer {
    padding-top: 2.5em;
    
    a {
      font-size: .95rem;
      color: $c-dark-grey;
    }
  }
}


// Icons 

.icons {
  background-color: transparent;
  background-image: url('../images/icons.png');
  width: 16px;
  height: 16px;
  display: inline-block;
  
  &.icon1 {
    background-position: -40px 0;
  }
  
  &.icon2 {
    background-position: -80px 0;
  }
  
  &.icon3 {
    background-position: -120px 0;
  }
  
  &.icon4 {
    background-position: -160px 0;
  }
  
  &.icon5 {
    background-position: -200px 0;
  }
}

// Miscellaneous UI Elements

.triangle-down {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid $c-voda-purple;
  display: inline-block;
  padding-top: 3px;
}

.transition-all {
  transition: all .3s ease-in-out;
  -moz-animation: fadeInDown .3s ease-in ;
  -webkit-animation: fadeIn .3s ease-in ;
  animation:fadeInDown .3s ease-in ;
}

.celltbl {
  display: table !important;
}
.cell {
  display: table-cell !important;
  vertical-align: top;
}
