// Named Variables

$portals: (agent: #888, credit: #9B319E, athome: #007C92, debit: #428600, dsl: #FF5400); 

// Global Colors

$c-white:         #FFFFFF;
$c-voda-red:      #E91E1E;
$c-voda-purple:   #9B319E;
$c-voda-orange:   #FF5400;
$c-lightest-grey: #EEEEEE;
$c-light-grey:    #D8D7D8;
$c-medium-grey:   #B8B6B8;
$c-dark-grey:     #474547;


// Theme Colors

$body-bg-color:   #FCFCFC;
$contrast0-bg:    #F9F4F4;
$contrast2-bg:    $c-white;


// Fonts

$font-body: 'freightsans_promedium', Helvetica, Arial, 'sans-serif';

@function font-body-value($value) {
  @if $value == "bold" {
    @return 'freightsans_probold';
  }
  @if $value == "semibold" {
    @return 'freightsans_prosemibold';
  }
  @if $value == "book" {
    @return 'freightsans_probook';
  }
  @if $value == "light" {
    @return 'freightsans_prolight';
  }
  @else {
    @return 'freightsans_promedium';
  }
}

@function font-heading-value($value) {
  @if $value == "bold" {
    @return 'vodafone_rgbold';
  }
  @if $value == "light" {
    @return 'vodafone_ltregular';
  }
  @else {
    @return 'vodafone_rgregular';
  }
}



@mixin font-body($style: medium) {
  font-family: font-body-value($style);
}

@mixin font-heading($style: medium) {
  font-family: font-heading-value($style);
}


// Buttons

$btn-primary-bg:  $c-voda-purple;
$btn-primary-radius: 26px;