{% block content %} 

    <div class="row">
      <div class="large-12 columns">
        <div class="panel content-heading">
          <div class="searcher">
            <div class="search-text"><input type="text" placeholder="Suche"/></div> 
            <div class="search-select">in Allen Portalen <span class="triangle-down"></span>
              <ul class="submenu">
                <li> <a href="#">InfoWeb</a> </li>
                <li> <a href="#">Hardware</a> </li>
                <li> <a href="#">CallYa</a> </li>
                <li> <a href="#">Wilma</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-2 medium-3 columns">
        <ul class="side-nav primary ver2" role="navigation" title="Portal Link List">
          <li role="menuitem" class="active"><a href="#">AskVodafone</a></li>
          <li role="menuitem"><a href="#">InfoWeb</a></li>
          <li role="menuitem"><a href="#">Hardware</a></li>
          <li role="menuitem"><a href="#">CallYa</a></li>
          <li role="menuitem"><a href="#">Wilma</a></li>
          <li role="menuitem"><a href="#">Kabel.de</a></li>
          <li role="menuitem"><a href="#">Vodafone.de</a></li>
        </ul>
      </div>
      
      
      <div class="large-8 medium-9 columns">
        <section class="module quick-links">
          <h5>Quicklinks</h5>
          <ul class="small-block-grid-2 medium-block-grid-3 block-links">
            <li><a class="block-link" href="#">Karte &amp; Netz</a></li>
            <li><a class="block-link" href="#">Karte &amp; Netz</a></li>
            <li><a class="block-link" href="#">Karte &amp; Netz</a></li>
            <li><a class="block-link" href="#">Karte &amp; Netz</a></li>
            <li><a class="block-link" href="#">Karte &amp; Netz</a></li>
            <li><a class="block-link" href="#">Karte &amp; Netz</a></li>
            <li><a class="block-link" href="#">Karte &amp; Netz</a></li>
            <li><a class="block-link" href="#">Karte &amp; Netz</a></li>
          </ul>
        </section>
        
        <h5>GeoWorld</h5>  
      </div>     


      <div class="large-2 medium-12 columns">
        <p><a href="#" class="tertiary button expand">Phone Number</a></p>
        <h6>Vorschlage</h6>
        <ul class="side-nav secondary">
          <li role="menuitem"><a href="#">Karte &amp; Netz</a></li>
          <li role="menuitem"><a href="#">Mailbox &amp; Erreichbarkeit</a></li>
          <li role="menuitem"><a href="#">Selfservice</a></li>
          <li role="menuitem"><a href="#">Unterwegs</a></li>
          <li role="menuitem"><a href="#">Internet &amp; Messaging</a></li>
        </ul>
      </div>
    </div>
{% endblock %}