{% block content %} 

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h3>Suche in Allen Portalen</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-3 medium-3 columns">
        <ul class="side-nav" role="navigation" title="Portal Link List">
          <li role="menuitem"><a href="#">AskVodafone</a></li>
          <li role="menuitem"><a href="#">InfoWeb</a></li>
          <li role="menuitem"><a href="#">Hardware</a></li>
          <li role="menuitem"><a href="#">CallYa</a></li>
          <li role="menuitem"><a href="#">Wilma</a></li>
          <li role="menuitem"><a href="#">Kabel.de</a></li>
          <li role="menuitem"><a href="#">Vodafone.de</a></li>
        </ul>
      </div>
      
      
      <div class="large-6 medium-6 columns">
        <h5>Quicklinks</h5>
        <hr />    
        <h5>GeoWorld</h5>  
      </div>     


      <div class="large-3 medium-3 columns">
        <p>
          <a href="#" class="small button">Simple Button</a><br/>
          <a href="#" class="small radius button">Radius Button</a><br/>
          <a href="#" class="small round button">Round Button</a><br/>            
          <a href="#" class="medium success button">Success Btn</a><br/>
          <a href="#" class="medium alert button">Alert Btn</a><br/>
          <a href="#" class="medium secondary button">Secondary Btn</a></p>
      </div>
    </div>
{% endblock %}